* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_wrapper {
    padding-left: calc(10.8vw - 17.6px);
    padding-right:calc(10.8vw - 17.6px);
    background-image: url(./img/html_css_js\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-position: left calc(59vw + 69.7px) top calc(4.8vw + 58.7px);
    background-size: calc(23.9vw + 89.4px);
}   
@media (max-width:500px) {
    .main_wrapper {
        padding-left: calc(10.8vw - 17.6px);
        padding-right:calc(10.8vw - 17.6px);
        background-image: url(./img/html_css_js\ 1\ \(2\).png);
        background-repeat: no-repeat;
        background-position: left calc(40vw + 69.7px) top calc(1.8vw + 58.7px);
        background-size: calc(14.9vw + 89.4px);
    }   
}
.logo {
    margin-top: 37px;
    width: calc(8.8vw + 181.8px);
}
.parent {
    margin-top: calc(6.7vw + 4.3px);
    display: flex;
    flex-direction: row;
    gap: calc(5.1vw + 10.9px);
    flex-wrap: wrap;
}
h1 {

    margin-top: calc(3.1vw + 36.3px);
    font-family: 'Chava', sans-serif;                                            
    font-size: calc(4.2vw + 26.2px);
    line-height: 110%;
}
.main_wrapper p {

    margin-top: calc(2.2vw + 11.7px);
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(1.1vw + 14.2px);
    font-weight: 300;
    line-height: 140%;

}
.buttons_block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.buttons_block button {
    background-color: #6E3ABA;
    width: 328px;
    height: 61px;
    padding: 20px;
    border-radius: 12px;
    color:#FFFFFF;
    border: none;
}
.buttons_block button:nth-child(2) {
    background-color:transparent;
    color:#6E3ABA;
    border:1px solid #6E3ABA;
}
@media (max-width:500px) {
    .main_wrapper p {
        width: 328px;
        height: 250px;
    }
}
h2{
    font-family: 'TT Hoves', sans-serif;
    font-size:calc(2.7vw + 24px);
    font-weight: 500;
    line-height: 117%;
    letter-spacing: 0.01em;
    text-align: left;
    padding-right: 50px;
    
}
@media (max-width:500px) {
    .emoji_wrapper h2 {
        width: 328px;
        height: 80px;


    } 
}
.emoji_wrapper{
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
    margin-top: calc(11vw + 18.5px);
}
.emoji_blocks{
    gap: 70px;
    display: flex;
    margin-top: 41px;
    flex-direction: row;
    flex-wrap: wrap;
}
.block{
    margin-top: 15px;
    width: 450px;

}
.block h3{
    font-family: 'TT Hoves', sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    
}
.block p {
    margin-top:calc(2.2vw + 11.7px); ;
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(1.1vw + 14.2px);
    font-weight: 300;
    line-height: 140%;
}
.container{
    margin-top: 30px;
    background-color: #6E3ABA;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 88px;
    padding-top: 88px;
}
  .container h2{
    padding-right: 0px !important ;
    padding-top: 20px;
    color: #FFFFFF;
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(1.1vw + 14.2px);
    font-weight: 700;
    line-height: 117%;
    text-align: center; 
     
}
.time{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: calc(6.4vw + 7.9px);
}
.time h3{
    font-family: 'Chava', sans-serif;
    font-size: calc(12.5vw + 5.1px);
    padding-top: 57px;
}
.time span {
    font-size: calc(1.9vw + 2.9px);
    font-family: 'TT Hoves', sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-align: center;


}
.Roman-Ickov{
    width: calc(7.7vw + 300px);
    height: calc(10.8vw + 423.3px);
}
.sale{
    background-color: #FFFFFF;
    color: #6E3ABA;
    width: 328px;
    height: 61px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px 12px 12px 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    margin-bottom: 88px;
    border: none;
}
.speaker_wrapper{
  flex-direction: column;
  padding: 121px;
  padding-left: calc(10.8vw - 17.6px);
  padding-right: calc(10.8vw - 17.6px);
}
.speaker_wrapper h2 {
    padding-right: 0px !important;
}

.main_speaker{
    display: flex;
    gap: 30px;
    padding-top: 40px;
}
@media (max-width:900px) {
    .main_speaker{
        flex-wrap: wrap;
    }
}
.info-speaker{
    width: calc(43.9vw + 60.5px);
}

.info-speaker h3{
    font-family: 'TT Hoves',sans-serif;
    width: calc(24.9vw + 240.7px);
    height: calc(1.4vw + 90.6px);
    font-size: calc(1.1vw + 33.8px);
    font-weight: 700;
    line-height: 120%;
    text-align: left;
}
.info-speaker p{
    width: calc(15.3vw + 250.3px);
    height: calc( 1vw + 74.5px);
    font-family: 'TT Hoves', sans-serif;
    font-size: calc( 1vw + 10.2px);
    line-height: 140%;
}
.grid-block{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    
}
.grid-block div {
   display: flex;
   flex-direction: column;
   margin-top: 40px;
}
.grid-block img {
    width: 36px;
    height: 36px;
}
.designer_wrapper{
    padding: 121px;
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
}
.designer-blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.designer-block{
    width: 400px;
    margin-top: 40px;
}
.designer-block h2 { 
    font-family: 'TT Hoves',sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    margin-top: 50px;
}
.designer-block p {
    font-family: 'TT Hoves',sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    text-align: left;
    margin-top: 20px;
}
.lesson{
   margin: 69px;
   margin-top: 10px;
}
.program_cuarse{
    
    padding: 121px;
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
}
.lessons p {
    display: block;
    margin-top: 10px;
    font-family: 'TT Hoves', sans-serif;

}
.programer h2{
    margin: 69px;
}


.program{
    display: block;
    background-color: #6E3ABA;
    color: #FFFFFF;
    height:  61px;
    padding: 20px 0px 20px 0px;
    margin-top: 34px;
    border-radius: 12px 12px 12px 12px;
    margin-left: auto;
    margin-right: auto;
}
.frame{
    position: absolute;
    width: calc(81.4vw + 22.6px);
    height: calc(16.7vw + 850.4px);
    
   
}

.lesson img {
    width: calc(17.6vw + 120.7px);
}

.diplom {
    padding: 120px;
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
  }
  @media (max-width:900px) {
    .diplom {
        display: grid;
    }
  }
  .image {
    
  }
  
  .container_diplom {
    display: flex;
    flex-direction: column;
  }
  
  .title  {
    font-size: 24px;
    margin: 0; 
  }
  .dizainer h2{
        font-family: 'TT Hoves', sans-serif;
        font-size: calc(2.7vw + 24px);
        font-weight: 500;
        
        letter-spacing: 0.01em;
        text-align: left;
  }
  
  .paragraph {
    font-size: calc(1vw + 14.2px); 
    margin-top: 10px;
  }
 
  @media (max-width: 1280px) {
    .diplom {
      grid-template-columns: 1fr;
    }
    
    .image {
      margin: 0 auto;
      max-width: 300px;
      display: flex;
    } 
    @media (max-width:900px) {
        .image {
            flex-wrap: wrap;
        }
    }
    
    .container_diplom {
      margin-left: 0; 
      margin-top: 20px; 
    }
  }
  .container_diplom h2{
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    line-height: 117%;
  }
  
.dizainer{
    padding: 120px; 
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
    margin-top: 25px;
    padding-top: 25px;
}

.info-dizainer h2{
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(2.7vw + 24px);
    font-weight: 700;
    line-height: 117%;
}
  .info-dizainer p{
    font-family: 'TT Hoves' , sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    margin-top: 50px;
  }
  .dizainer_sale{
    width: calc(81.4vw + 22.6px);
    height: calc(23.6vw + 7.3px);
   
  }
.pro_sale{
    display: flex;
    flex-direction: row;
    
}
@media (max-width: 900px) {
    .pro_sale{
        flex-wrap: wrap;
    }
}
.sale_block{
    display: block;
    margin-top: 25px;

}
.less{
    padding: 120px;
    padding-left: calc(10.8vw - 17.6px);
    padding-right: calc(10.8vw - 17.6px);
}
.students-box{ 
    width: calc(19.1vw + 250.3px);
}
.img_dizainer{
    width: calc(81.4vw + 22.6px);
}
.review_peaple{
    padding: 121px;
}
.splide{
    display: grid;
}
.review{
    background-color: #F0F7FD;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 484px;
    gap: 40px;
    padding-left: 20px;
 }
.review_2 {
    display: flex;
    flex-direction: row;
    align-items:center;
}
.comment{
    font-family: 'TT Hoves', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;

}
.peaple {
    width: 72px;
    height: 72px;
    border-radius:50%;
}
.socials {
    width: 30px;
    height: 30px;
    margin-top: 54.6px;
    margin-left: 20px;
}